body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 1px;
    color: #333;
    background-image: url('./img/bg.jpg');
    background-position: center;
}

.app {
    max-width: 600px;
    margin: 0 auto 300px;
    background-color: #efefef;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.377);
}

h1 {
    text-align: center;
    color: #5B5F97;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}

input {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: #5B5F97;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 3px;
    opacity: 0.9;
    transition: 0.3s;
}

button:hover {
    opacity: 1;
}

.complete {
    background-color: green;
    opacity: 0.9;
    transition: 0.3s;
}

.complete:hover {
    opacity: 1;
}

.remove {
    background-color: red;
    opacity: 0.9;
    transition: 0.3s;
}

.remove:hover {
    opacity: 1;
}

.todo-list {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #555;

}

.todo {
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.377);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.todo-form {
    padding-bottom: 1.5rem;
}

input, select {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
}

.filter, .search {
    border-bottom: 1px solid #555;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

